$color-fonts:  ("primary" : #1e88e5, "light": #6ab7ff, "dark": #005cb2, "white": #fff, "black": #000);
$colors: ("primary": #5500C1, "secondary": #009B9B);
$font-sizes: ("h1": 3.2rem, "h2": 1.5rem, "h3": 1.2rem, "header": 2.1rem, "item": 1.6rem, "footer": 1.4rem, "card": 1.4rem);