/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
  color: #009B9B;
  padding-bottom: 40px;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  padding-top: 15px;
  font-weight: bold;
}

h3 {
  padding-top: 9px;
  font-size: 1.2rem;
  color: #5500C1;
  font-weight: bold;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: #5500C1;
  font-size: 2.1rem;
  color: #fff;
  font-weight: bold;
}

main {
  margin: auto;
  max-width: 900px;
  min-height: 750px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
  background-color: #5500C1;
  font-size: 1.4rem;
  color: #fff;
}

.header-nav {
  color: #fff;
  text-decoration: none;
}

li {
  padding: 10px;
  border-radius: 5px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .li-active {
  background-color: #009B9B;
}

.agregar-contacto {
  width: 900px;
  margin: 10% 0;
}

.agregar-contacto input {
  padding: 15px 10px;
  border: 1px solid #cccccc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.agregar-contacto input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 15px #cccccc;
          box-shadow: 0 0 15px #cccccc;
}

.agregar-contacto h1 {
  margin-bottom: 15px;
}

.form-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.agregar-contacto button {
  display: block;
  margin: 35px auto;
  padding: 15px 80px;
  border-style: none;
  color: #fff;
  background-color: #5500C1;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.agregar-contacto button:hover {
  -webkit-box-shadow: 0 0 10px #5500C1;
          box-shadow: 0 0 10px #5500C1;
}

.neon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #060658;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 300px;
  padding: 50px;
}

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196fd;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 50px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-neon:hover {
  color: #255784;
  background-color: #2196f3;
  -webkit-box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
          box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn-neon span {
  position: absolute;
  display: block;
}

.btn-neon span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#2196f3));
  background: linear-gradient(90deg, transparent, #2196f3);
}

.btn-neon:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.btn-neon span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#2196f3));
  background: linear-gradient(180deg, transparent, #2196f3);
}

.btn-neon:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.btn-neon span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#2196f3));
  background: linear-gradient(270deg, transparent, #2196f3);
}

.btn-neon:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.btn-neon span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#2196f3));
  background: linear-gradient(0deg, transparent, #2196f3);
}

.btn-neon:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.gradiente {
  width: 100px;
  height: 100px;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(black));
  background: linear-gradient(360deg, transparent, black);
}

.ver-contactos {
  width: 900px;
  margin: 10% auto;
}

.contactos-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

.card {
  position: relative;
  border: 1px solid #000;
  padding: 20px 35px;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.card:hover {
  -webkit-box-shadow: 0 0 15px #868181;
          box-shadow: 0 0 15px #868181;
}

.card p {
  font-size: 1.4rem;
  padding-top: 15px;
}

.btn-close {
  position: absolute;
  right: -9px;
  top: -9px;
  margin: 0px;
  padding: 6px 7px;
  font-size: 1.0rem;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  font-weight: bold;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.btn-close:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px red;
          box-shadow: 0 0 10px red;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.fa {
  padding-right: 5px;
  font-size: 1.2rem;
  color: #009B9B;
}
/*# sourceMappingURL=styles.css.map */